@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply font-sans antialiased;
    scroll-behavior: smooth;
  }

  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Jost", sans-serif;
}


@layer utilities {
  .container {
    @apply max-w-7xl mx-auto;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #FF6B35;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ff5722;
  }
}
